#home {
	background: #7eef5f ;
	color: rgb(9, 9, 9);
}

.caixa {
	padding: 60px 0;
	border-bottom: 1px solid #e5e5e5 ;
}

footer p a {
	margin: 5px 15px;
}

#home form button {
	border-radius: 18px;
	
}

#home form input {
	border-radius: 10px;
	margin-right: 10px;
}


#nav-principal li {
	border-radius: 6px;
}